@import "tailwindcss";


@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  display: inline-flex;
  animation: infinite-scroll 30s linear infinite;
}

/* Pause animation on hover */
.animate-infinite-scroll:hover {
  animation-play-state: paused;
}